<div>
<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Category</strong>
  <%= @article.category.name %>
</p>

<div class="article-advisor-name">
  <%= link_to(@advisor.name,"/advisors/#{@advisor.id}") %>
</div>

  <%= link_to 'Back', articles_path %>
  <% unless current_advisor == nil %>
    <% if @article.advisor_id == current_advisor.id %>
      <%= link_to 'Edit', edit_article_path(@article) %>
      <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
  
</div>